{% extends 'base.html' %}
{% block content %}

<div class="card border-primary mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 1%;">
    <label for="colFormLabelLg" class="col-sm-5 col-form-label col-form-label-lg">Title</label>
    <div class="col-sm-12">
      <input type="email" class="form-control form-control-lg" id="colFormLabelLg">
    </div>
    <label for="colFormLabelLg" class="col-sm-5 col-form-label col-form-label-lg">Inspirational Bibble Verse</label>
    <div class="col-sm-12">
      <input type="email" class="form-control form-control-lg" id="colFormLabelLg" style="height: 97px;">
  </div><br>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary" style="margin-left:70%;  margin-bottom: 3%; height: 57px; width: 97px;">Submit</button>
  
  </div>
</div>
<div class="card border-primary mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G.</div>
    <div class="card-body text-primary">
      <h5 class="card-title">1 Thessalonians 2:11-12</h5>
      <p class="card-text">“For you know that we dealt with each other of you as a father deals with his own children, encouraging, comforting and urging you to live lives worthy of God, whocalls you into his kingdom and glory.”</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G.</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Mark 10:27</h5>
      <p class="card-text">"Jesus looked at them and said, 'With man this is impossible, but not with God; all things are possible with God."</p>
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G.</div>
    <div class="card-body text-success">
      <h5 class="card-title">Philippians 1:6</h5>
      <p class="card-text">"being confident of this, that he who began a good work in you will carry it on to completion until the day of Christ".</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G.</div>
    <div class="card-body text-danger">
      <h5 class="card-title">Luke 12:32</h5>
      <p class="card-text">"Do not afraid, little flock, for your Father has been pleased to give you the kingdom."</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G.</div>
    <div class="card-body">
      <h5 class="card-title">2 Corinthians 5:7</h5>
      <p class="card-text">"For we live by faith, not by sight."</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G.</div>
    <div class="card-body">
      <h5 class="card-title">Philippians 4:13</h5>
      <p class="card-text">"I can do all this through him who gives me strength."</p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G.</div>
    <div class="card-body">
      <h5 class="card-title">Hebrews 11:1</h5>
      <p class="card-text">"Now faith is confidence in what we hope for and assurance about what we do not see."</p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 35rem; margin-left: 30%; margin-top: 2%;">
    <div class="card-header">Merin, Aira G..</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Ezra 10:4</h5>
      <p class="card-text">"Rise up, take courage and do it." </p>
    </div>
  </div>
{% endblock %}
</body>
</html>